<div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Flickr Food Image App</span>
    </nav><br><br>
    <div class="row">
        <div class="col-md-4 col-sm-6" *ngFor="let data of imagesData">
            <div class="card bg-dark text-white" (click)="loadImage(data.id)">
                <img src="https://farm{{data.farm}}.staticflickr.com/{{data.server}}/{{data.id}}_{{data.secret}}.jpg"
                    class="card-img" style="height: 16rem;" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title" *ngIf="data.rating!=null">Ratings: {{data.rating}}</h5>
                </div>
            </div><br>
        </div>
    </div><br>
    <hr>
     <!-- ------------------------next and previous page buttons-------------------------- -->
    <div class="row justify-content-around">
        <div class="col-sm-3">
            <button (click)="previousPage()" [disabled]="currentPage==1">Previous Page</button>
        </div>
        <div class="col-sm-3">
            <button (click)='nextPage()'
                [disabled]="disableNext==true || (totalCount/30==1&&totalCount%30==0)">NextPage</button>
        </div>
    </div><br><br>
</div>